# this is the main config for dropwizard
# please refer to http://www.dropwizard.io/0.9.1/docs/manual/configuration.html

logging:
  level: INFO
  appenders:
    - type: console
  loggers:
    "de.fau.fablab.app.server.resources.SpaceAPIResource": INFO

spaceapi:
  endpoint: http://spaceapi.net
  space: my_fablab

# endpoint to process changes of the doorstate
doorstate:
  keyFile: src/dist/keys/doorstate.key
  hashAlgorithm: HmacSHA256

server:
  requestLog:
    timeZone: UTC
    appenders:
      - type: console
  # rest server
  applicationConnectors:
    - type: http
      port: 80 
  # admin interface
  adminConnectors:
    - type: http
      port: 8081

# dropwizard database configuration
database:
    driverClass: org.h2.Driver
    user: db
    password: changeme
    logValidationErrors: false
    url: jdbc:h2:file:src/dist/db/fablab-db

    properties:
      hibernate.dialect: org.hibernate.dialect.H2Dialect
      hibernate.hbm2ddl.auto: update

# user allowed to access the dropwizard admin panel
adminInterface:
    role: admin
    username: admin
    password: changeme

openerp:
    username: oerp
    password: changeme
    hostname: https://example.com
    database: production

ical:
    endpoint: https://example.com
    icalUrl: /termine/ical
    fallback: src/dist/calendar.ics

drupalNews:
    feedurl: /rss.xml
    url: 127.0.0.1
    port: 12345
    nodeEndpoint: /rest/node
    fallback: src/dist/rss.xml.rss

generalData:
    fabMail: mail@example.com
    feedbackMail: mail@example.com
    fabUrl: https://example.com

androidPushConfiguration:
    pushAPIRegistrationId: myapikey
    googlePushServiceURL: https://android.clients.google.com/gcm/send

applePushConfiguration:
  certificate: src/dist/APN.p12
  password: changeme

versionCheck:
  path: src/dist/minimumVersion.yml

users:
  - username: admin
    password: changeme
    roles:
      - ADMIN
      - USER
  - username: inventory
    password: changeme
    roles:
      - INVENTORY
      - USER

checkoutApiKey:
  key: myapikey

projects:
  token: mytoken
  apiUrl: https://api.github.com/gists
  gistUrl: https://gist.githubusercontent.com/
  gistUser: gistuser
